.searchWrapper {
  border-radius: 4px;
  width: 50px;
  height: 40px;
  float: right;
  background-color: rgb(240, 247, 254);
}

.searchIcon {
  display: inline-block;
  background: url('../../images/search.png') no-repeat center;
  width: 50px;
  height: 40px;
}